html,
body {
	text-align: center;
	margin: 5px;
	padding: 0;
	background-color:black;
}

h2 {
	color:white;
}
.container-fluid {
	margin-top: 20px;
}
.row {
	align-items: center;
}
.card {
	width: 24.4%;
	margin-left: 10px
}

.card-text {
	color:black;
}
canvas {
	display: block;
}

p {
	color: white
}