html,
body {
	text-align: center;
	margin: 5px;
	padding: 0;
	background-color:black;
}

h2 {
	color:white;
}
.container-fluid {
	margin-top: 20px;
}
.row {
	align-items: center;
}
.card {
	width: 280px;
	height: 200px;
	margin: 7px;
}

.btn {
	margin: 0 15px;
}

.card-text {
	color:black;
}
canvas {
	display: block;
}

p {
	color: white
}